body {
    background-color: green;
}
#formulario {
    /*
    Establecemos el área de margen en la parte superior de este elemento. Un valor positivo 
    lo ubica más lejos de sus vecinos. En este caso colocamos un valor de 0
    */    
    margin-top: 0;
    /*
    Establecemos el área de margen en la parte inferior de este elemento. Un valor positivo 
    lo ubica más lejos de sus vecinos.
    */
    margin-bottom: 0;
    /*
    Establecemos el ancho del área de relleno a la izquierda de este elemento
    */
    padding-left: 0;
    /*
    Establecemos el marcador (como un disco, carácter o estilo de contador personalizado) 
    de un elemento de lista, en este caso al usar none no se va a mostrar ningún marcador
    para el elemento.
    */
    list-style-type: none;
    display: flex;
    /*
    Con space-around generamos la misma cantidad de espacio a la derecha y a la izquierda 
    de cada elemento (elemento secundario directo de este contendor <form>)
    Fuente: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox#justify-content
    */
    justify-content: space-around;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 5px;
}
th {
    width: 25%;
}
td {
    width: 25%;
    text-align: center;
}
#editar {
    color: black;
}
#borrar {
    color: black;
}
#labelNombre {
    color: orange;
}
#labelCorreo {
    color: orange;
}
#labelTelefono {
    color: orange;
}
h4 {
    text-align: center;
}